# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.venv/

# VS Code
.vscode/

# Environment files
.env

# Folder information macos
.DS_Store

#mongodb files
Chapter 2/nosql_example/data/db/