# Byte-compiled / optimized / DLL files
__pycache__/

# Virtual environment
.venv/

# VS Code
.vscode/

# Environment files
.env

# Folder information macos
.DS_Store

#mongodb files
Chapter 2/nosql_example/data/db/

#sqlite
Chapter 2/sql_example/mydb.db
Chapter 4/saas_app/database.db

# Virtual env
.venv/

# Logs
*.log
app.log*

# Coverage
.coverage
.coverage.*
htmlcov/
coverage.xml

# Databases
*.db
*.db-wal
*.db-shm
production.db


# MongoDB
data/db/
#profiling outut
profiler*.html
