# Chapter 1

fastapi
uvicorn

# Chapter 2

sqlalchemy
pymongo
pydantic[email]
python-multipart
httpx

#Chapter 3

fastapi[all]
pytest

#Chapter 4
passlib[bcrypt]
sqlalchemy>=2.0.0
python-jose[cryptography]
httpx

